@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  background-color: #fbfbfb;
  color: #0c0c0c;
  letter-spacing: -0.02em;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0c0c0c;
}

.hero a {
  text-decoration: underline;
}

.hero a:hover,
.hero a:focus {
  color: #3350e9;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(12, 12, 12, 0.7);
}

h1 {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.87;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91;
}

.logo,
.footer-logo {
  font-weight: 500;
  font-size: 20px;
}

.logo-accent {
  color: #3350e9;
}

.about {
  background-color: #f3f3f3;
}

.about button {
  color: #fbfbfb;
  background-color: #3350e9;
  width: 160px;
  height: 48px;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
}

.about button:hover,
.about button:focus {
  background-color: #1f3cd4;
  cursor: pointer;
}

.catalog-list {
  background-color: #f3f3f3;
}

.catalog p {
  color: rgba(12, 12, 12, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
}

.catalog ul h3,
.catalog ul p {
  text-align: center;
}

.contact-us {
  background-color: #0c0c0c;
  color: #fbfbfb;
}

.contact-title-accent {
  color: rgba(251, 251, 251, 0.5);
}

.contact-btn {
  color: inherit;
  text-align: center;
  width: 160px;
  height: 48px;
  font-size: 14px;
  background-color: inherit;
}

.contact-btn:hover,
.contact-btn:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
  cursor: pointer;
}

.sale-list {
  background-color: #f3f3f3;
}

.sale-subtitle {
  background-color: #3350e9;
  color: #fbfbfb;
}

.sale-subtitle p {
  color: rgba(251, 251, 251, 0.7);
  font-size: 16px;
  line-height: 1.25;
}

.sale-subtitle p.product-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: rgba(251, 251, 251, 0.5);
}

.sale-subtitle h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}

.sale-subtitle h3.price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(251, 251, 251, 0.5);
  text-decoration: line-through;
}

.sale-subtitle ul p {
  color: #fbfbfb;
  font-size: 14px;
  line-height: 1.28;
}

.main-price {
  background: rgba(251, 251, 251, 0.1);
}

.reviews p.review-name {
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  color: #0c0c0c;
}

.reviews p {
  color: rgba(12, 12, 12, 0.4);
}

.reviews ul li {
  background-color: #f3f3f3;
}

.reviews ul li h3,
.reviews p {
  text-align: center;
}

footer {
  background-color: #0c0c0c;
}

.footer-logo {
  color: #fbfbfb;
}

footer h3 {
  color: #fbfbfb;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14;
  text-align: center;
}

footer a {
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
}

.footer-privacy {
  color: rgba(251, 251, 251, 0.5);
}
