@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #0c0c0c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 40px;
}

.section:not(:first-child) {
  padding: 100px 0;
}

/* __________HEADER__________ */

.navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  letter-spacing: -0.02em;
}

.nav-link {
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  display: flex;
  gap: 40px;
}

.nav-icon {
  display: flex;
  gap: 10px;
}

.navigation a {
  display: block;
  padding: 32px 0;
}

header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

/* __________HERO__________ */

.hero {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero-title {
  width: 597px;
}

.hero-title p {
  margin-top: 20px;
  width: 480px;
}

h1 {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.87;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.hero-accent {
  color: #3350e9;
}

.hero-box {
  display: flex;
  flex-direction: column;
}

.hero-box a {
  font-size: 20px;
  line-height: 1;
  text-decoration: underline;
  margin-top: auto;
}

.hero-img {
  display: flex;
}

/* __________FOOTER__________ */

footer .container {
  background-color: #0c0c0c;
}
