@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #0c0c0c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91;
  color: #0c0c0c;
  margin-bottom: 40px;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbfb;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 40px;
}

.section:not(:first-child) {
  padding: 100px 0;
}

/* __________HEADER__________ */

.navigation {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  letter-spacing: -0.02em;
}

.nav-link {
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  display: flex;
  gap: 40px;
}

.nav-icon {
  display: flex;
  gap: 10px;
}

.navigation a {
  display: block;
  padding: 32px 0;
}

header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

/* __________HERO__________ */

.hero {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero-title {
  width: 597px;
}

.hero-title p {
  margin-top: 20px;
  width: 480px;
}

h1 {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.87;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.hero-accent {
  color: #3350e9;
}

.hero-box {
  display: flex;
  flex-direction: column;
}

.hero-box a {
  font-size: 20px;
  line-height: 1;
  text-decoration: underline;
  margin-top: auto;
}

.hero-box a:hover,
.hero-box a:focus {
  color: #3350e9;
}

.hero-img {
  display: flex;
}

/* __________ABOUT US__________ */

.about {
  display: flex;
}

.about-text {
  background-color: #f3f3f3;
  border-radius: 50px;
  width: 580px;
  padding-left: 60px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-right: 40px;
}

.about-text p {
  width: 460px;
  margin-top: 20px;
}

.about-text button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  width: 160px;
  border-radius: 16px;
  color: #fbfbfb;
  background-color: #3350e9;
  padding: 15px 0;
  border: none;
  margin-top: 40px;
}

.about-text button:hover,
.about-text button:focus {
  background-color: #1f3cd4;
  cursor: pointer;
}

/* __________CATALOG__________ */

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
  justify-content: center;
}

.catalog-list li {
  width: calc((100% - 46px) / 3);
  background-color: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
}

.catalog-box {
  margin: 24px 32px;
}

.catalog-box p:not(.catalog-price) {
  font-size: 20px;
  line-height: 1;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.catalog-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: rgba(12, 12, 12, 0.5);
}

/* __________CONTACT US__________ */

.contact-us {
  display: flex;
  justify-content: space-around;
  background-color: #0c0c0c;
  border-radius: 30px;
  align-items: flex-start;
  padding: 83px 0;
}

.contact-us h2 {
  width: 690px;
  margin-bottom: 0;
  color: #fbfbfb;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91;
}

.story-accent {
  color: rgba(251, 251, 251, 0.5);
}

.contact-us button {
  color: #fbfbfb;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  width: 160px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  padding: 15px 0;
  background-color: #0c0c0c;
}

.contact-us button:hover,
.contact-us button:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
  cursor: pointer;
}

/* __________SALE__________ */

.sale-box {
  display: flex;
}

.sale-left-box {
  display: flex;
}

.sale-img-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.sale-img-list li {
  background-color: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 20px;
  padding: 16px 18px;
}

.sale-img {
  margin-left: 20px;
  background-color: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 20px;
  padding: 80px 50px;
}

.sale-right-box {
  background-color: #3350e9;
  color: #fbfbfb;
  width: 530px;
  border-radius: 50px;
  margin-left: 40px;
}

.sale-text {
  width: 398px;
  padding-left: 60px;
  padding-top: 60px;
  align-items: flex-start;
}

.sale-text h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.12;
  margin-bottom: 10px;
}

.tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: rgba(251, 251, 251, 0.5);
}

.sale-price {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.main-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  background-color: rgba(251, 251, 251, 0.1);
  border-radius: 8px;
  padding: 8px 12px;
  text-align: center;
  margin-right: 9px;
}

.second-price {
  text-decoration: line-through;
}

.sale-right-box p:nth-child(4) {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 40px;
  width: 410px;
}

.sale-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 398px;
  font-size: 14px;
  line-height: 1.28;
  gap: 8px;
  margin-bottom: 40px;
}

.sale-list li {
  padding: 8px 12px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
}

/* __________REVIEWS__________ */

.review-list {
  display: flex;
  gap: 20px;
}

.review-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  padding: 32px 36px;
  border-radius: 30px;
}

.review-list img {
  margin-bottom: 24px;
}

.review-list p {
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 8px;
}

.review-list li p:last-child {
  font-size: 16px;
  color: rgba(12, 12, 12, 0.4);
}

/* __________FOOTER__________ */

footer .container {
  background-color: #0c0c0c;
}
